h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
    Color: Black;
    font-weight:lighter;
    text-align: center;
    margin-bottom: -25px;
}
.topnav{
    background-color: transparent;
    text-align: center;
   
}
.topnav ul{
    display: inline-block;
}
.topnav a{

    text-align: center;
    font-family: 'open-sans', sans-serif;
    color: black;
    font-size: 16px;
    padding: 5px;
    padding-right:15px;
    padding-left: 15px;
    margin:10px;
    text-decoration: none;

}
.topnav a:hover{
    background-color:lightgray;
    color:black;
}
h5{
    font-family: 'open sans', sans-serif;
    font-weight:normal;
    font-size: 16px;
    color: black;
    text-align: center;
}


#content {
  padding: 10px;
  left-margin:  auto;
  right-margin: auto;
  display: block;
  width:100%;

}
.responsive{
    width: 100%;
    max-width:31%;
    height: auto;
    padding: 10px;

}

.aboutme{
    margin: .75in;
}

.me{
    max-width: 35%;
   margin: 0px;
   float: left;
}
p{
    font-family: "open-san" , sans-serif;
    font-size: 24px;
    line-height: 31.2px;
    color: black;
    max-width: 50%;
    float: right;
   
  


}